<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Escuela Primaria N°2 "Carlos Pellegrini"</h1>
                <h3>(2007-2012)</h3>
            </li>
            <p>Estudios Primarios</p>
        </ul>
        <ul>
            <li>
                <h1>Escuela Normal Superior "Gral. José de San Martín"</h1>
                <h3>(2013-2018)</h3>
            </li>
            <p>Estudios Secundarios</p>
        </ul>
        <ul>
            <li>
                <h1>Centro de formacion profesional N°403</h1>
                <h3>(2019)</h3>
            </li>
            <p>Aqui realice un curso de programacion orientado en full stack</p>
        </ul>
    </div>
</div>