<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Simon Casero</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
        <h1>Acerca de mi</h1>
        <p>Tengo 22 años, nacido el  27 de julio del 2000 en la plata, desde recien nacido vivo en tandil.
            Me gusta la programacion ya que soy un aficionado de la tecnologia, he realizado varios cursos en los cuales he aprendido pero
            no he sabido encontrar  mi lugar y actualmente siento que puedo hacerlo bien.
        </p>
    </span>
    </div>
</div>